@import '~antd/dist/antd.css';

.content, body {
  background-image: '/background.jpg';
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  min-height: calc(100vh - 119px);
}

.footerStyle {
  color: rgb(161, 161, 161);
  background-color: rgb(000,021,041);
  text-align: center;

  
  bottom: 0px;
  font-family: Roboto-Regular;
}

.headerStyle {
  font-family: Roboto-Regular;
  box-shadow: 2px 0px;
}

.animatedLine {
  width: 400px;
  height: 1px;
  background: rgb(024,144,255);
  margin: auto;
  animation: wiggleLine 2s forwards;	
}

@keyframes wiggleLine {
  from {
      transform: scale(.1,.1);
  } to {
      transform: scale(1,1);
  }
}